.button {
  border-radius: 3px;
  background: #3456F3;
  border: none;
  color: #fff;
  width: 396px;
  height: 45px;
  transition: 0.5s ease-out opacity;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
    width: 260px;
  }
}