.moviesPage {
  background-color: #FAFAFA;
  padding: 70px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.moviesPageSearchForm {
  width: 100%;
  padding-bottom: 69px;
  margin-bottom: 80px;
  border-bottom: 1px solid #E8E8E8;
}

.moviesPageButton {
  border: none;
  background-color: #F4F4F4;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

@media (max-width: 1280px) {
  .moviesPage {
    padding: 70px 30px 80px;
  }
}

@media (max-width: 768px) {
  .moviesPage {
    padding: 70px 10px 80px;
  }
}